
/projectv/projectv/bin
/projectv/projectv/obj
/projectv/.vs
/mvcDemo/mvcDemo/bin
/mvcDemo/mvcDemo/obj
/simple/simple/bin
/simple/simple/obj
/simple/.vs
/adding two numbers/adding two numbers/bin
/adding two numbers/.vs
/adding two numbers/adding two numbers/obj
